* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
body {
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}
/* Nav Bar */
nav {
  background: #1a2d3a;
  height: 70px;
  width: 100%;
}
.logo {
  color: whitesmoke;
  font-size: 35px;
  line-height: 70px;
  padding-left: 50px;
  font-family: "Rampart One", cursive;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: whitesmoke;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-decoration: none;
}
nav ul li a:hover {
  background-color: whitesmoke;
  color: black;
}

.checkbtn {
  font-size: 30px;
  color: whitesmoke;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 965px) {
    .logo{
        padding-left: 20px;
    }
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  #check:checked ~ ul {
    left: 0;
  }
}



/* News Content */
.item {
    border-radius: 25px;
    background-color: #2d3f4c;
    color: whitesmoke;
    margin: 3vh;
    padding-left: 2vh;
    padding-top: 2vh;
  }
  .item a {
    text-decoration: none;
    color: whitesmoke;
    text-align: center;
  }
  .title{
      font-size: 20px;
  }
  .item:hover {
    background-color: #1a2d3a;
  }
  div {
    display: inline-block;
  }